/*The image border on top*/
.topimage {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
}

/*making header bigger and center*/
header {
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}


/* making font times new roman*/
main {
    font-family: 'Times New Roman', Times, serif;

}

/*Navbar class spaces out the pages and makes it horizontal*/
.navbar {
    margin: 0px;
    font-size: 35px;
    text-align: center;
    float:none;
    display: inline-block;
    padding: 12px;
    font-size: 25px;
    width: 25%;
}

/*making the main and the header colomized with background color*/
.wrapper {
    width: 750px;
    margin-top: 0%;
    margin: auto;
    background-color: rgb(224, 244, 240);
    padding: 20px;
}

/*making the the body have a background color darker*/
body {
    background-color:  rgb(211, 229, 225);
    box-sizing: border-box;
    margin: auto;
}

/*adding space between the inputs in the form*/
.space {
   padding-bottom: 30px;
   margin:0 auto;
}

/*putting the image inbetween the text*/
p img {
    float: left;
    margin: 3px;
    padding: 20px;
}

/*formatting the form to have the box around it*/
input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*adding a divider between the nav bar*/
.linkborder {
    border-right: 2px solid grey;
}

/*making the links black*/
a {
    text-decoration: none;
    color: black;
}
 /* formatting footer*/
footer {
    clear: both;
}
