/*The image border on top*/
.topimage {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 80px;
}


/*making header bigger and center*/
header {
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

body {
    background-color:  rgb(220, 254, 248);
}

nav ul li {
    float:none;
    display: inline-block;
    padding: 12px;
    font-size: 20px;
    width: 25%;
    line-height: 25px;
}

a {
    text-decoration: none;
}